<!DOCTYPE html>
<html>
<head>
	<title>Favorites Organizer powered by Cloudant</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
<body>
	<div class = "container">
	<nav class="navbar navbar-light">
       <div class="navbar-header">
          <a class="navbar-brand" href="#">Bees Management</a>
       </div>
       <div class="navbar-right">
          <a class="navbar-brand" href="#">Login</a>
       </div>
    </nav>
	<div class = "col-md-6">
		<form>
  			<div class="form-group">
    			<label for="email">Email address:</label>
    			<input type="text" class="form-control" id="email" name  = "username">
  			</div>
  			<div class="form-group">
    			<label for="pwd">Password:</label>
    			<input type="password" class="form-control" id="pwd" name = "password">
  			</div>
  			<div class="checkbox">
    			<label><input type="checkbox"> Remember me</label>
 			</div>
  			<button type="submit" class="btn btn-default" value="Submit">Submit</button>
		</form>
	</div>
	</div>
</body>
</html>

